#linkedlistContainer{
    display: none;
    /* display: flex; */
    margin-top: 2.5%;
    height: 90vh;
    margin-left: 2%;
    width: 96%;
    background-color: rgb(37, 44, 40);
    justify-content: center;
}
#linkedlistDisplayFrame{
    position: relative;
    width: 840px;
    height: 420px;  /* w = (12/5)B*/
    top:10%;
    right: 6%;
    background-color: rgb(32, 32, 32);
    background-size: cover;
    background-position: center;
    border: 1px solid rgba(0,0,0);
}
#linkedlist-g{
    transform:translateX(5%);
    position:absolute;
    cursor: pointer;
    transition: 800ms;
    transform: scale(0.8);

}

#linkedlist-g text{
    fill:rgba(146, 156, 146, 0.705);
    fill-opacity: 0.7;
    
}
.link-rect{
    width: 6.5%;
    height: 11.5%;
    fill:rgb(58, 85, 72);
    z-index: -1;
    
}

.link-control{
    position: absolute;
    width: 100px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.849);
    left: 2%;
    top:80%;
    
}

#linkControl{
    position: absolute;
    top:100px;
    right: 25px;
    width: 200px;
    height: 300px;
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.link-op-btn{
    outline: none;
    border: none;
    padding: 3px;
    width: 60px;
    height: 40px;
    cursor: pointer;
    background-color:rgb(108, 116, 110);
    color:rgb(66, 68, 66)
}
#linkControl input{
    height: 40px;
}
#linkControl span{
    font-size: 20px;
    color:rgba(146, 156, 146, 0.445)
}
.nxtPointer{
    stroke: rgb(58, 85, 72);
    transition: 800ms;
}