#bstContainer{
    /* display: flex; */
    display: none;
    top:0%;
    height: 96vh;
    margin-left: 2%;
    width: 96%;
    background-color: rgba(240, 240, 240, 0.74);
    box-shadow: 1px 2px 7px 5px rgb(233, 233, 233);
    justify-content: center;
    
}
#bstDisplayFrame{
    position: relative;
    width: 83.33%;
    top:5%;
    width: 720px;
    height: 500px;
    background-color: whitesmoke;
    background-size: cover;
    background-image: url(/elements/plane-bg.svg);
    box-shadow: 1px 1px 5px 1px rgb(184, 177, 177);
    
}
.bst-svg{
    position: absolute;
    border-radius: 50%;
    margin-left: 50%;
    background-color: rgb(245, 243, 243);
    width: 65px;
    height: 65px;
    box-shadow: 1px 1px 5px 1px rgb(184, 177, 177);
    margin-top: 8px;
    z-index:4;
    opacity: 0;
}
.bst-svg text{
    fill:rgb(138, 135, 135)
}

#bstControl{
    position: absolute;
    width: 100px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.849);
    left: 2%;
    top:80%;
    z-index: 3;
}
.bst-svg-line{
    position: absolute;
    height: 100%; width: 100%;
    margin-left: 3%;
    margin-top: 4%;
}

.bst-svg-line line {
    stroke:rgba(219, 139, 139, 0.541);
    stroke-width:2;
}
.bst-svg-line-effect{
    position: absolute;
    height: 100%; width: 100%;
    margin-left: 3%;
    margin-top: 4%;
}
.bst-svg-line-effect line{
    stroke:rgba(53, 43, 43, 0.541);
    stroke-width:2;
}