@import url(./components/components.array.css);
*{
    padding : 0px;
    margin:0px;
    
}
:root{
    --layoutColor:rgba(250, 250, 250, 0.877);
}

body{
    min-height: 100vh;
    overflow: hidden;
}
