<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizer</title>
    <!-- <link rel="stylesheet" href="../array/components.array.css" type="text/css">
    <link rel="stylesheet" href="../binary/component.bst.css" type="text/css"> -->
    
    <link rel="stylesheet" href="visualizer.style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/31cc6a3b97.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- loader  -->
<div id="visualizer-loader">
<object data="icons/loader.svg" type=""></object>
</div>
<!-- change theme -->
<div id="visualizer-page-icon" class="visualizer-icon">
    <i class="fa-solid fa-moon"></i>
</div>

<!-- #sideContentScroller --> 

<div id="sideContentScroller">
   
    <div class="content-element"></div>
    <div class="content-element"></div>
    <div class="content-element"></div>
    <div class="content-element"></div>
</div>
<div class="content-scroller-menu">
    <div></div>
    <div></div>
</div>
<!-- insert editor -->
<div id="visualizer-codeEditor" class="visualizer-icon">
    <i class="fa-solid fa-code"></i>
</div>
<div id="editorDataflow">
<div id="code-editor-display">

</div>
<div id="code-control-btn">
    <button class="btn run-user-code">run</button>
</div>
<div id="code-editor-output">

</div>
</div>


<!-- array container -->
<div id="arrayContainer">
       <div id="arrayDisplay">
        <div id="arrayReRan">
            <button class="set-reset-btn array-rand">random</button>
            <button class="set-reset-btn array-reset">reset</button>
        </div>
        <div id="arraySort">
        <ul>
            <span>sort</span>
            <li class="arr-sort selection-sort">selection</li>
            <li class="arr-sort quick-sort">quick</li>
            <li class="arr-sort bubble-sort">bubble</li>

        </ul>
        </div>
        <div id="array_properties">
            <div>isEmpty : <span class="isEmp">false</span></div>
            <div>arrLength : <div class="arrLen"></div></div>
            <div>capcity : 16</div>
        </div>
        <ul class="array-index">
            
        </ul>

       </div>
       <div id="arrayControls">
        <span class="arrayOpToggle">
            
        </span>
        <ul id="array-operation">
            <li>
                <span  class="input-text ">insert</span>
                <input type="number" class="input-box array-insert-ele" />
            </li>
            <li>
                <span class="input-text">delete</span>
                <input type="number" class="input-box" />
            </li>
        </ul>
       </div>
</div>
</body>

<script src="./visualizer.script.js" type="module"></script>
<script src="https://pagecdn.io/lib/ace/1.7.1/ace.js" crossorigin="anonymous" integrity="sha256-YAOvWxKjPzqZ4RbP7K63wORc/TqKH/jQgNbXswYIy/k=" ></script>
<script src="../linkedlist/component.linkedlist.js" type="module"></script>

</html>