#portrait-moder-instruction{
    position: absolute;
    top:1%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    opacity: 0.5;
    display: none;
}
#arrayContainer{
    display: flex;
    /* display: flex; */
    margin-top: 2.5%;
    height: 90vh;
    margin-left: 2%;
    width: 96%;
    background-color: rgb(37, 44, 40);
    justify-content: center;
  
}
#arrayDisplayFrame{
    position: relative;
    width: 480px;
    height: 400px;  /* w = (12/5)B*/
    top:10%;
    background-color: rgb(32, 32, 32);
    background-size: cover;
    background-image: url(../../elements/box-bg.svg);
    border: 1px solid rgba(0,0,0);

    
}

#arrDisplayFrameContainer{
    position: relative;
    width: 83.33%;
    top:10%;
    left: 8.33%;
    height: 80%;
}

#array-enteries{
    height: 30px;
}
#array-add-btn{
    width: 40px;
    height: 30px;
}
#array-svg-element{
    transform: rotateX(180deg);
    width:10%;
    height:320px;
}
.array-rect{
    width: 100%;
    fill:rgba(94, 100, 97, 0.801);
    stroke: rgb(13, 15, 15);
  
    transition: 1000ms;
}
.array-rect:hover{
    fill: rgb(230, 230, 236);
    transform: scale(1.1);
    stroke-width: 2px;
}
#arrayOperations{
    position: relative;
    width: 280px;
    top:10%;
    right: -3.5%;
    height: 360px;
    transition: 500ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    background-color: rgb(32, 32, 32);
}
#arrayOperations:hover{
    transform: scale(1.07); 
    box-shadow: 1px 1px 6px 1px rgba(37, 37, 37);
}

#arrayOpsHeading{
    background-color:var(--layoutColor);
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: rgba(168, 168, 168, 0.548);
    background-color: rgb(32, 32, 32);
}
#arrayOperationControl{
    width: 90%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 12px;
}

#arrayOperationList{
    height: 40%;
    width: 90%;
    /* background-color:var(--layoutColor); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#arrayOperationList div{
    height: 33%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#arrayOperationList div:nth-child(3){
    height: 33%;
    width: 80%;
    display: flex;
    align-items: center;
    margin-left:10%;
}
#array-random-btn button, #array-insert-btn button, #array-delete-btn button{
    width: 80px;
}
input{
    width: 40px;
    text-align: center;
    height: 60%;
    outline: none;
    border: none;
    background-color: rgba(136, 138, 139, 0.705);
    color:whitesmoke
}
#array-random-go-btn button, #array-insert-go-btn button, #array-delete-go-btn button{
    width: 40px;
}
#array-left{
    height: 40px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    color: rgba(107, 109, 107, 0.712);
   
}
.btn button{
   width: 120px;
   height: 40px;
   background-color: rgb(65, 65, 65);

}
button{
    outline: none;
    border: none;
    padding: 3px;
    width: 60px;
    cursor: pointer;
    background-color:var(--layoutColor);
    color:rgb(108, 116, 110)
}

@media only screen and (max-width: 950px) {
    #arrayDisplayFrame{
        width: 408px;
        height: 340px;  /* w = (12/5)B*/
    }
    #arrDisplayFrameContainer{
        top:-4%;
    }
    #arrayOperationList{
        height: 40%;
        width: 80%;
    }
    #array-svg-element{
        height:270px;

        margin-top: 50px;
    }
}
@media only screen and (max-height: 500px) {
    #arrayDisplayFrame{
        top:4%;
        width: 360px;
        height: 300px;  /* w = (12/5)B*/
    }
    #arrDisplayFrameContainer{
        top:10%;
        height: 80%;
    }
    #arrayOperationList{
     height: 80%;
    }
    #array-svg-element{
        transform: rotateX(180deg);
        width:10%;
        height:240px;
        margin-top: -0px;
    }
    #arrayOperations{
        height: 80%;
        width: 30%;
    }
    #arrayOperationControl button{
        width: 100px;
    }
}
@media (orientation: portrait) {
    #portrait-moder-instruction{
      display: flex;
    }
  }
